/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Creamos Selector + propiedad + valor

  selector {
  porpiedad: valor
}
*/

html {
    font-size: 62.5%;
    background-color: skyblue;
}

body {
    background-color: whitesmoke;
    width: 100%;
}


header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#F8F7F1;
    padding: 5px
    
}


header img{
    width: 10%;
    justify-content: start;
    margin: 5px;
}

header .buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
}


header nav ul{
    background-color:white;
    font-size: 150%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 150px;
    color: antiquewhite;
    text-decoration: none;
    width: 100%;
}

header nav ul a{
    width: 100%;
    color: black;
    font-family: "Fjalla One", sans-serif;

}

/*   COMENZAMOS A TRABAJAR EN EL MAIN DEL INICIO   */

.contenedor {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;

}

.img-main {
    display: flex;
    width: auto;
    padding: 0%;
    background-color: skyblue;
}



.novedad {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.img-novedad {
    flex: 1 0 auto;
    align-content: center;
    align-items: center;
    margin: 0 50px;
    width: 300px;
    height: 500px;
}



h1 {
    color: rgb(40, 40, 46);
    font-size: 45px;
    text-align: center;
}

.btn {
  background: black;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}


/*  <-----  COMENZAMOS A TRABAJAR EN EL HTML DE LA SECCION "RAQUETAS" ---->  */


.contenedor-raquetas{
    display: flex;
    flex-direction: row;
    gap: 1px;
    background-color: skyblue;
    padding-top: 5px;
}

.filtros{
    display: block;
    flex-direction: column;
    gap: 5px;
    background-color: whitesmoke;
    width: 10%;
    padding: 10px 0px 0px 15px;
}

.filtros ul {
    list-style: none;
    text-decoration: none;
    font-size: small;
    padding: 15px 0px 15px 0px;
}


/**/

.checkbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: start;
}

/*   APLICAMOS GRID PARA INSERTAR NUSTRAS IMAGENES EN COLUMNAS Y LINEAS   */

.section-raquetas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    background-color:grey;
    width: 100%;
    gap: 1px;
}

/*   UBICAMOS CADA IMAGEN EN SU POSICION   */
.rqhead {
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
    background-color: whitesmoke;
}

.rqwilson {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: whitesmoke;
}

.rqaero{
    grid-column: 1 / 2;
    grid-row: 2;
    background-color: whitesmoke;
}


/*   <--- TRABAJAMOS EN NUESTRO FOOTER APLICANDO GRID  Y DIMESIONANDO SU CONTENIDO --->   */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: skyblue;
    align-items: center;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.logos-redes{
    margin: 0px 0px 5px 10px;
}

.newsletter{
    font-size: large;
    justify-items: end;
}

.copyright {
    grid-column: span 2;
    justify-items: center;
    color: black;
    font-family: "Fjalla One", sans-serif;
    font-size: small;
}


/*    <----  COMENZAMOS A TRABAJAR CON LA SECCION DE "PELOTAS" DE NUESTRO PROYECTO  ---->    */

.contenedor-pelotas{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1px;
    background-color: skyblue;
    padding-top: 5px;
}

.section-pelotas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    background-color:grey;
    width: 100%;
    gap: 1px;
}

.img-tubo1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: whitesmoke;
}

.img-tubo2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: whitesmoke;
}

.img-tubo3{
    grid-column: 1 / 2;
    grid-row: 2;
    background-color: whitesmoke;
}

.filtros-pelotas{
    display: block;
    grid-row: span 2;
    width: 10%;
    background-color: whitesmoke;
}

.filtro-busqueda{
    font-size: small;
    padding: 10px 0px 20px 5px;
}

.checkbox{
    font-size: small;
    padding: 10px 0px 20px 5px;
}






