// Mixin sin parametros

@mixin grid ($grid, $columns, $rows, $jitems, $gap,){
    display: $grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-items: $jitems;
    gap: $gap;

}

@mixin displaymain ($flex, $flex-direction, $jcontent){
    display: $flex;
    flex-direction: $flex-direction;
    justify-content: $jcontent;
}

@mixin flexrow ($flex, $row, $gap, $bground, $padding){
    display: $flex;
    flex-direction: $row;
    gap: $gap;
    background-color: $bground;
    padding: $padding;
}



// Mixin con parametros

@mixin block {
    display: block;
    flex-direction: column;
    gap: 5px;
    background-color: whitesmoke;
    width: 10%;
    padding: 10px 0px 0px 15px;
    margin-right: 5px;
}

@mixin nav{
    background-color:white;
    font-size: 150%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 150px;
    color: antiquewhite;
    text-decoration: none;
    width: 100%;
}

@mixin ul{
    list-style: none;
    text-decoration: none;
    font-size: small;
    padding: 15px 0px 5px 0px;
    margin-right: 5px;
    }

@mixin button{
    background: black;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px;
}

// Mixin con y sin parametros

@mixin img ($widths, $height){
    width: $widths;
    height: $height;
    object-fit: fill;
}

@mixin gridpisition ($gridcolumn, $gridrow){
    grid-column: $gridcolumn;
    grid-row: $gridrow;
    background-color: $second-color;
}


